{{ define "main" -}}

<section class="hero is-link">
    <div class="hero-body">
        <div class="columns">
            <div class="column is-12">
                <div class="container ">
                    <span class="icon is-large">
                        <ion-icon name="person-outline" size="large"></ion-icon>
                    </span>
                    <span class="icon is-large">
                        <ion-icon name="laptop-outline" size="large"></ion-icon>
                    </span>
                    <span class="icon is-large">
                        <ion-icon name="code" size="large"></ion-icon>
                    </span>
                    <h1 class="title">Code <em>All</em> The Things</h1>
                    <a href="https://github.com/gabrieleteotino" target="_blank" class="button is-primary is-large">
                        <span class="icon">
                            <ion-icon name="logo-github"></ion-icon>
                        </span>
                        <span>Github</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section">
    <div class="container">
        <div class="tile is-ancestor">
            {{ range first 2 .Site.RegularPages }}
            <div class="tile is-4 box">
                {{ partial "article-card.html" . }}
            </div>
            {{ end }} {{ if .Truncated }}
            <div class="read-more-link">
                <a href="{{ .RelPermalink }}">Read More…</a>
            </div>
            {{ end }}
        </div>
    </div>
</section>
{{- end }}