<div class="card">
    <div class="card-header has-background-grey-light">
        <p class="card-header-title">
            {{ .Title }}
        </p>

        <button class="card-header-icon">
            <a href="{{ .Permalink }}">
                <span class="icon">
                    <ion-icon name="expand-outline"></ion-icon>
                </span>
            </a>
        </button>
    </div>
    <div class="card-content has-background-light">
        <div class="content is-size-7">
            {{ .Summary }}
        </div>
    </div>
    <div class="card-footer has-background-grey-lighter">
        <div class="card-footer-item">
            <time datetime="{{ .Date.Format " 2006-01-02T15:04:05Z0700" }}" class="post-date">
                {{ .Date | time.Format ":date_medium" }}
            </time>
        </div>
    </div>
</div>