<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item" href="{{ .Site.BaseURL }}">
            /bluish-capsule
        </a>

        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>

    <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
            <a class="navbar-item">
                About
            </a>

            {{ range $section := .Site.Sections }}
            <div class="navbar-item has-dropdown is-hoverable">
                <a href="{{ .Permalink }}" class="navbar-link">{{ .Title }}</a>

                <div class="navbar-dropdown">
                    {{ range first 5 $section.RegularPages}}
                    <a href="{{ .Permalink }}" class="navbar-item">
                        {{ .Title }}
                    </a>
                    {{ end }}
                    <hr class="navbar-divider">
                    <a href="{{ .Permalink }}" class="navbar-item">
                        more
                    </a>
                </div>
            </div>
            {{ end }}
        </div>
    </div>
</nav>